{% extends 'base.html' %}

{% block admin %}
{% endblock %}


{% block start %}
	<div class="col-md-3">
	<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
	<input type="text" name="title" required=""></input>
	<input type="file"  name="photo" required="" style="margin-top: 10px"></input>
		<input type="submit" value="submit" class="btn-danger" style="margin-top: 30px" />
		<input type="reset" value="reset" class="btn-success"></input>
	</form>
</div>
<div class="col-md-6">
		
	
</div>
{% endblock %}
